body {
  background-image: url('b4dcd7be2f047da98417fd75452ff35a.jpg');
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #bf3b3b;
  height: 248px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: small;
  padding: 45px;
}

.table {
  margin: 12px auto;
}

.table-border {
  border: 1px solid #bf3b3b !important;
}

.Add-Button {
  width: 6%;
  margin:20px 0 0 78px;
}

.descriptionLabel {
  margin-left: -27px;
}

.categoryLabel{
  margin-left: -10px;
}

.form {
  margin-left: 30%;
  text-align: right;
}

.signupForm {
  margin: 0 auto;
}

.signupLabels {
  float: right;
}

.select{
  width: 164px;
  margin-left: 5px;
}

.welcomeMessage {
  text-align: right;
}

.logoutButton {
  margin-left: 6px;
}

.error{
  color: red;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
